.title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.img {
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 20px auto;
  position: relative;
}

.logo img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.icon {
  color: var(--white);
  font-size: 26px !important;
}

.hidden {
  display: none;
}
