.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 100px;
  padding-top: 60px;
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.title p {
  color: var(--blue);
  font-size: 30px;
  font-weight: bold;
}
