.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid var(--gray-200);
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: var(--shadowCard);
}

.like {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
  margin-bottom: 0;
}

.like,
.like p {
  color: var(--red);
  font-size: 20px;
}

.instituition {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;
}

.name {
  font-size: 18px;
  color: var(--blue);
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.time {
  color: var(--gray-500);
}

.line {
  height: 1px;
  width: 100%;
  background: var(--borderColor);
}
