.container {
  text-align: center;
}

.line {
  height: 1px;
  background: var(--borderColor);
  margin: 10px 0;
}

.image {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
}

.name {
  font-size: 20px;
  color: var(--blue);
  margin-top: 10px;
}

.box {
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  margin-top: 20px;
  padding: 5px;
}

.margin {
  margin-top: 20px;
}

.gray {
  color: var(--gray-500);
}
