.title {
  font-size: 20px;
  color: var(--blue);
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.options {
  margin-top: 30px;
  display: flex;
  font-size: 18px;
}

.options > div {
  border: 1px solid var(--blue);
  padding: 5px 0;
  text-align: center;
  flex: 1;
  margin-bottom: 10px;
}

.about,
.aboutActive {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pub,
.pubActive {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.aboutActive,
.pubActive {
  background: var(--blue);
}

.about p,
.pub p {
  color: var(--blue);
}

.aboutActive p,
.pubActive p {
  color: var(--white);
}

.display {
  white-space: pre-wrap;
  padding: 10px;
}
