.container {
  z-index: 1;
  top: 0;
  height: 55px;
  width: 100%;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-bottom: 1px solid var(--borderColor);
  box-shadow: #00000029 0px 1px 4px;
}

.title {
  font-size: 20px;
  color: var(--white);
}

.icon {
  font-size: 28px;
  color: var(--white);
}
