.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 10px;
}

.icon {
  color: var(--white);
  font-size: 28px;
}

.img {
  width: 100%;
  height: 50vw;
  margin: 10px auto;
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.time {
  color: var(--gray-500);
}

.title {
  font-size: 20px;
}

.instituition {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderColor);
  margin: 10px 0;
}

.avatar {
  background: var(--gray-50);
  color: var(--black);
  min-width: 60px;
  height: 60px;
  width: 60px;
  border: 1px solid var(--borderColor);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.info {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 18px;
  color: var(--blue);
}

.description {
  white-space: pre-wrap;
  text-align: justify;
}
